@model IEnumerable<ProjectX1._5.Models.AlcoholProduct>
<link href="~/Content/product_items.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerator<ProjectX1._5.Models.AlcoholProduct> products = Model.GetEnumerator();
    int i = 0;
}
<link href="~/Content/p_info.css" rel="stylesheet" />
<div class="container" style="margin-top:50px;">
    @{
        Boolean flag = true;
        while (flag)
        {
            <div class="row">
                @for (int j = 0; j < 4 && flag == true; j++)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        @if (products.MoveNext())
                        {
                            <div class="col-item">
                                <div class="photo">
                                    <img src=@products.Current.Product.pic class="img-responsive" alt="a" style="height: 264px;  width: 166px;" />
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h5> @products.Current.Product.productName</h5>
                                            <h5 class="price-text-color">$@products.Current.Product.price</h5>
                                        </div>
                                    </div>
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <a href="@Url.Action("addItem", "Cart",new { pId=products.Current.productID, returnUrl = Url.Action(), pQuantity = 1, isBundle = "no" })" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</a>
                                        </p>
                                        <p class="btn-details">
                                            <button type="button" style="margin-left:-5px" class="btn btn-primary btn-product" data-toggle="modal" data-target="#product_view-@i"><span class="glyphicon glyphicon-list"></span> More details</button>
                                        </p>
                                    </div>
                                    <div class="clearfix">  
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade product_view" id="product_view-@i">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                                            <h3 class="modal-title">@products.Current.Product.productName</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-4 product_img">
                                                    <img src=@products.Current.Product.pic class="img-responsive">
                                                </div>
                                                <div class="col-md-8 product_content">
                                                    <h4>Product Id: <span>@products.Current.Product.productID</span></h4>
                                                    <dl class="dl-horizontal left">
                                                        <dt>
                                                            Category:
                                                        </dt>

                                                        <dd>
                                                            @products.Current.Product.AlcoholProduct.AlcoholCategory.categoryName
                                                        </dd>

                                                        <dt>
                                                            Volume %:
                                                        </dt>

                                                        <dd>
                                                            @products.Current.Product.AlcoholProduct.volume
                                                        </dd>

                                                        <dt>
                                                            Origin:
                                                        </dt>

                                                        <dd>
                                                            @products.Current.Product.AlcoholProduct.Country.countryName
                                                        </dd>
                                                    </dl>
                                                    <p>@products.Current.Product.info</p>
                                                    <h3 class="cost"><span class="glyphicon glyphicon-usd"></span> @products.Current.Product.price.00</h3>
                                                    @using (Html.BeginForm("addItem","Cart"))
                                                    {
                                                        @Html.Hidden("pId", products.Current.productID)
                                                        @Html.Hidden("returnUrl",Url.Action())
                                                        @Html.Hidden("isBundle", "no")
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-12">
                                                                Quantity: <input type="number" name="pQuantity" value="1" min="1" max="10"/>
                                                            </div>
                                                            <!-- end col -->
                                                        </div>
                                                        <div class="space-ten"></div>
                                                        <div class="btn-ground">
                                                            <button type="submit" class="btn btn-primary btn-product" id="addToCart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
                                                            <a href="@Url.Action("AddToWatchList", "WatchList",new { pId=products.Current.productID, isBundle = "no" })" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                        else
                        {
                            flag = false;
                        }
                    </div>
                }
            </div>
        }
    }
</div>